.git*
*kdev4
*.o
*~
*.bin
*.swp
*.old
*.ram
*.tar
*.s
*.a
*.so
*.dat
*.cmake
CMakeFiles/*
CMakeCache.txt
tags
cscope*
*.out
*_
*.opp
GPATH
GTAGS
GRTAGS
GSYMS
.session.vim
*.orig
.root
.clangd
compile_commands.json
types_c.taghl
*.autosave
*.gdb_history
